ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

img {
    width: 400px;
    height: 450px;
}

  a {
    text-decoration: none;
  }
  
  p {
    margin: 0;
  }
  
  h2,
  h1,
  h3,
  h4 {
    margin: 0;
  }

body {
    background:  linear-gradient(
      rgba(211, 211, 211, 1),
      rgba(169, 169, 169, 1),
      rgba(105, 105, 105, 1)
    );
    font-family: Roboto;
}

  /* hover-bg-c #800000 */
  /* bg-c #A52A2A */
  /* box-shodov #8B4513*/
  /* color #FFFFFF*/
  /* border-card #8B4513 */